.searchbar {
    width: calc(100% - (2*1.3rem)) ;
    padding: 0.8rem 0 0.8rem 2.5rem;
    border-radius: 4px;
    margin: 2rem 0 3rem 0;
    background-image: url(../assets/searchIcon.svg);
    background-repeat: no-repeat;
    background-position: 0.8rem center;
    border: 2px solid rgba(0, 0, 0, 0.6);
    
}