.button {
    border: none;
    background-image: url("../assets/arrow_back.svg");
    background-position-y: 1px;
    background-repeat: no-repeat;
    background-color: inherit;
    padding: 0 0 0 1.5rem;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}