$bc: lightgray;
.card {
    max-width: 15rem;
    max-height: 15rem;
    border: 1px solid $bc;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}
img {
    width: 100%;
    max-height: 60%;
    border-radius: 4px 4px 0 0;
}

.description {
    margin: 0 0 0 1rem;
}
.h3 {
    margin: 0.5rem 0;
    font-size: calc(8px + 6 * ((100vw - 320px) / 680));
}
